body {
	background-color: rgb(28, 31, 31);
}
.container {
	box-sizing: border-box;
	padding: 0;
	margin: 0 auto;
	display: block;
	max-width: 960px;
}

.header-main {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	background-color: #fb4447;
	color: white;
}

.footer-main {
	display: flex;
	flex-direction: row-reverse;
	background-color: #fb4447;
	color: white;
}

.avatar {
	flex-direction: column;
	align-items: center;
	color: white;
}

.avatar__image {
	overflow: hidden;
	border-radius: 100%;
	border: 3px solid gold;
	width: 200px;
	height: 200px;
	object-fit: cover;
	object-position: 50% 50%;
	max-width: 100%;
}

.avatar__caption {
	justify-content: space-around;
	text-align: center;
}

.main {
	display: flex;
	flex-direction: row;
	background-color: white;
}

.main-left {
	width: 30%;
	background-color: #2a374a;
}

.main-right {
	width: 70%;
	display: flex;
	flex-direction: column;
}

.navigation {
	border: 0.3rem solid white;
	border-radius: 7px;
	margin: 1rem;
	text-decoration: none;
	color: aliceblue;
}

.navigation__ol a {
	color: orange;
}

.section {
	margin-bottom: 2rem;
	border-bottom: 5px solid #fb4447;
}

.code {
	background-color: blue;
	color: white;
}
.completed {
	color: rgb(14, 184, 14);
	background-color: black;
}

.disabled {
	display: none;
}
